@import "../../../../responsive.scss";
.yn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4rem 15px;
//     @include respond-to(mobile-small) {
//         flex-wrap: wrap;
//    }
    @include respond-to(mobile) {
         flex-wrap: wrap;
    }
    @include respond-to(tablet) {
        flex-wrap: wrap;
   }
   @include respond-to(laptop-extra-s) {
}
}
.egh-acount {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column!important;
    margin-right: 1rem!important;
}

.egh-acount button {
    padding: 13px 40px;
    font-size: 20px;
    font-weight: 700;
   background: white;
   color: #848484;
   background: #fff;
   box-shadow: 4px 8px 30px rgb(141, 141, 141);
   transition: .3s ease;
   width: 100%;
   border: 1px solid #fff ;
   margin-bottom: 1.5rem;
   border-radius: 4px;
}
.ig-detials p {
    margin-bottom: 30px;
    font-size: 24px;
}
.egh-acount button:hover {
  background: var(--them_color);
  color: #fff;
  border-color: var(--them_color);
}

.egh-details {
    display: flex;
    margin: 0px 32px;
    @include respond-to(mobile-small){
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
    }
    @include respond-to(mobile){
        // flex-direction: column;
        flex-wrap: wrap;
        flex-shrink: 0;
        width: auto;
        max-width: 100%;
        margin: 0px 50px;
    }
    @include respond-to(tablet){
        // flex-direction: column;
        flex-wrap: wrap;
        flex-shrink: 0;
        width: auto;
        max-width: 100%;
        margin: 0px 50px;
    }
    
}

.egh-details p {
   text-align: center;
   color: black;
   @include respond-to(mobile) {
       font-size: 25px;
   }
   @include respond-to(tablet) {
    font-size: 25px;
}
   

}
.pc-details {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 8px 30px rgb(141, 141, 141,);
    flex-direction: column;
    margin-left: 1.5rem;
    height: 330px;
    padding-bottom: 4rem;    
    width: 800px;
    @include respond-to(mobile){
        margin: 0px 15px;
        padding: 24px;
        height: auto;
    }
    @include respond-to(tablet){
        margin: 0px 15px;
        padding: 24px;
        height: auto;
    }
}

.pi-details {
    box-shadow: 4px 8px 30px rgb(141, 141, 141,);
    padding: 35px 50px;
    text-align: center;
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 4px;
    @include respond-to(mobile-small) {
        // margin-bottom: 20px;
        padding: 40px 12px;
        margin: 20px 0px;
    }
    @include respond-to(mobile) {
        padding: 40px 55px;
        margin: 20px auto;
    }
    @include respond-to(tablet){
        padding: 40px 55px;
        margin: 20px auto;
    }
   
}
.pi-details .nm-pi {
    font-size: 30px;
}
.pi-details .nm-hading {
    font-weight: 400;

}

.ed-navpill svg {
    margin-right: 6px;
    font-size: 18px;
    margin-bottom: -2px;
}
.Profile {
    box-shadow: 4px 8px 30px rgb(141 , 141 , 141 );
    flex-direction: column;
    margin-left: 1.5rem;
    width: 800px;
    height: 350px;

    @include respond-to(mobile) {
        margin: 0px 15px;
    }
    @include respond-to(tablet) {
        margin: 0px 15px;
    }
}
.Profile h3 {
    margin-top: 30px;
    margin-left: 20px;
}
.profile-area {
    padding: 50px 40px;
    border-radius: 5px;
    
}

.box--shadow {
    box-shadow: 4px 8px 30px rgb(141 , 141 , 141 );
}

.mb-50 {
    margin-bottom: 50px;
}

.profile-title {
    font-size: 20px;
    font-weight: 600;
    color: #00152b;
    font-family: manrope,sans-serif;
    margin-bottom: 25px;
}
 h5 {
    margin: 0;
    padding: 0;
    margin-top: -7px;
}

.lg-Profile {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 12px;
    margin-top: 12px;
    @include respond-to(mobile) {
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 20px;
    }
    @include respond-to(tablet) {
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 20px;
    }
}
.le-profile {
    margin-left: 18px;
    @include respond-to(mobile) {
        margin: 0px;
    }
    @include respond-to(tablet) {
        margin: 0px;
    }
}

.le-profile button  {
    padding: 8px 36px;
    color: black;
    background: #fff;
    box-shadow: 4px 8px 30px rgb(141 , 141 , 141);
    border: 1px solid #fff;
    margin-right: 12px; 
}

.le-profile button:hover {
    box-shadow: inset 150px 0 0 0 #f96822;
    background: #f96822;
    border: 1px solid #f96822;
    color: #fff;
}
.lg-Profile img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
}
.row_profile {
    margin: 30px 12px;
}
.col_12  {
   display: flex;
   @include respond-to(mobile) {
    flex-direction: column;
    flex-wrap: wrap;
   }
   @include respond-to(tablet) {
    flex-direction: column;
    flex-wrap: wrap;
   }
}

.col_6 {
     margin-right: 12px;
     margin-left: 12px;
     @include respond-to(mobile) {
        margin: 0px;   
     }
     @include respond-to(tablet) {
        margin: 0px;   
     }
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.form-inner {
    margin-bottom: 25px;
    margin-left: 12px;
}
.label {
    display: inline-block;
}
.form-inner_user {
    margin-bottom: 25px;   
}

.form-inner_user input {
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    width: 100%;
    transition: .3s ease;   
}
.form-inner_user {
    margin-bottom: 25px;
    
}

.form-inner input , .form-inner select {
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    width: 100%;
    transition: .3s ease;
}
.form-inner_user select {
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    width: 300px;
    transition: .3s ease;
}


.form-inner input, select {
    display: block;
    width: 100%;
    border: none;
    border: 1px solid #eee;
    border-radius: 5px;
}

.form-inner select {
    font-size: 12px;
    color: #848484;
}

.zip_user input {
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    /* width: 100%; */
    transition: .3s ease;
    margin-right: 24px;
}

.submit-btn {
    padding: 13px 28px;
    margin-left: 13px;
}

.primary--btn {
    background-color: #f96822;
    border: 1px solid #f96822;
    color: #fff;
    box-shadow: inset 0 0 0 0 #fff;
    transition: .2s ease;
}
.primary--btn:hover {
    -webkit-box-shadow: inset 150px 0 0 0 #fff;
    box-shadow: inset 150px 0 0 0 #fff;
    background: #fff;
    border: 1px solid #f96822;
    color: #f96822;
}
.eg-btn {
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.egr-table {
    width: 700px;
    border-collapse: collapse;
    overflow: hidden;
    margin: 3rem 3rem 3rem 3rem;
}
.table {

    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

// .mb-0 {
//     margin-bottom: 0!important;
// }

.egr-table thead {
    background: #fff;
}
.table>thead {
    vertical-align: bottom;
}

.order-table-area .egr-table thead tr {
    border-width: 0;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: currentColor;
}

.egr-table thead tr th {
    font-size: 1rem;
    font-weight: 600;
    color: #00152b;
    opacity: 1;
    padding: 20px;
    vertical-align: top;
    text-align: center;
    border-width: 1px;
}

.order-table-area .order-table tr td {
    padding: 20px 15px;
}


element.style {
}
.order-table-area .order-table tr td {
    padding: 20px 15px;
}
.egr-table tbody tr td {
    font-weight: 400;
    color: #848484;
    text-align: center;
    border-width: 1px;
    vertical-align: middle;
    padding: 20px;
}

.eg_cards {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 4px 8px 30px rgb(141 , 141 , 141 ,);
    height: 260px;
    margin: 0px 5px;
    @include respond-to(mobile) {
        margin: 10px 0px;
    }
    @include respond-to(tablet) {
        margin: 10px 0px;
    }
}

.eg_cards p {
    line-height: 0.5;
    margin-top: 25px;
}

.dr-cameron .pf_cameron {
    margin-left: 5px;
}
.Yr-acount {
    margin-left: 1.5rem !important;
    @include respond-to(mobile) {
         flex-direction: column;
         flex-wrap: wrap;
         width: 100%;
         margin: 0px 15px !important;
    }
    @include respond-to(tablet) {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: 0px 15px !important;
   }
}