@import "../../../../responsive.scss";

.row {
    margin: 3rem 200px 3rem 200px;
    z-index: 100;
    position: relative;
    @include respond-to(laptop-small) { 
        margin: 3rem 70px 3rem 70px;
    }
    @include respond-to(tablet-s) { 
        text-align: center;
        padding: 0px;
        margin: 30px 0px;

    }
    @include respond-to(mobile-small) {
        z-index: 100;
        position: relative;
        width: 100%; 
        max-width: 100%;
        margin: 30px 0px;
        text-align: center;
    }
}

.row_product_screen {
    margin: 60px 0px 0px 0px;
}

.product_list  {
    display: inline-grid !important;
    width: 25%;
    padding: 16px 16px;
    @include respond-to(tablet-s) { 
        display: inline-table !important ;

     }
    @include respond-to(mobile-small) {
        display: inline-table !important ;
        margin: auto;
        align-items: center;
    }
}

.product_list_cart {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
        height: auto;
}

.img_src img  {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.Stars {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Add_to_card {
    position: relative;
    text-align: center;
}

.Add_to_card button {
    border-radius: 25px;
    background-color: var(--them_color);
    border: 1px solid var(--them_color);
    text-align: center;
    width: 150px;
    height: 30px;
    margin-top: 6px;
    padding: 4px 0px;
    
}
.Add_to_card  .count_handling {
    border-radius: 25px;
    background-color: var(--them_color);
    border: 1px solid var(--them_color);
    text-align: center;
    width: 150px;
    height: 30px;
    padding: 4px 0px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 6px !important;

}


/* .Add_to_card svg{
    font-size: 25px;
    position: absolute;
    right: 18px;
    top: 1px;
    color: white;
} */
.add_cart_price {
    font-size: 20px;
 
}
.collect_cart_count {
    font-size: 20px;
 
}
.minus_cart_price {
    font-size: 20px;
 
}
.btn_inc {
    cursor: pointer;
}
.product_sidebar {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 72px 3rem 72px;
  /* padding: 25px 312px 0px calc((100% - (292px * 3)) / 2) !important; */
//   padding: 25px 20px 0px calc((100% - (198px * 3)) / 2) !important;

}    

.product_sidebar_list {
    padding: 16px 34px;
    flex-basis: 33.333333%;
}

.product_Related {
     
    position: relative;
    margin-right: 190px;
    margin-left: 190px;
    border-bottom: 2px solid #eee;
    padding-bottom: 8px;
    
    
}
.product_Related::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    background-color: #f96822;
    width: 199px;
    display: inline-block;
}

.related_product_items {
    text-align: center !important ;
    padding: 0px 200px 0px 200px;
    z-index: 100;
    position: relative;
    margin: 32px 0px;
}