@import "../../../../../responsive.scss";

.Select_Product {
   display: flex;
   margin: 50px 100px 50px 200px;
   font-family: 'Manrope', sans-serif;
   @include respond-to(mobile-small) {
      margin: 3rem 15px !important ;
      flex-direction: column;
      flex-wrap: wrap;  
   }
   @include respond-to(tablet-s) {
      margin: 3rem 15px !important ;
      flex-direction: column;
      flex-wrap: wrap;  
   }
   @include respond-to(laptop-small) {
      margin: 50px 40px 50px 40px;
     
   }
}

.Select_image {
   display: flex;
   margin-right: 20px;
   @include respond-to(mobile-small) { 
      display: block;  
   }
   @include respond-to(tablet-s) { 
      display: block;  
   }
}

.display_flex {
   display: flex;
}
.choose_img {
    line-height: 6.5;
    @include respond-to(mobile-small) { 
      
         display: flex;
         justify-content: space-evenly; 
   }
   @include respond-to(tablet-s) { 
      display: flex;
      justify-content: space-evenly; 
}
.check-gorcery-food img {
   @include respond-to(tablet-s) { 
      width: 100px;
      height: 100px;
}
}
}
.product_selected_img  {
   img {
      @include respond-to(mobile-small) { 
         height: 300px;
         width: 300px;
   }  
   @include respond-to(tablet-s) { 
      height: 300px;
      width: 300px;
}     
   }
    margin-left: 16px;
    @include respond-to(mobile-small) { 
      margin: 0px;
      text-align: center;
}
@include respond-to(tablet-s) { 
   margin: 0px;
   text-align: center;
}   
}


.cart_start p {  
margin-top: 6px;
margin-left: 14px;
}
.product_describtion {
   line-height: 1.6;
}

.product_describtion h4 {
   color: var(--them_color);
   font-size: 22px;
   border-bottom: 1px solid #eeeeee;
  line-height: 2.2;
  margin-bottom: 12px;
}
.product_order {
   margin: 12px 0px;
} 
.cart_count {
   background-color: #eeeeee;
    position: relative;
    width: 65px;
    margin-right: 18px;
    padding: 5px 0px 5px 16px;
    border-radius: 4px;
}
.cart_count .count_price {
   margin-right: 21px;
  
}
.cart_count .add_price {
 position: absolute;
   margin-top: -6px !important ;
   background: none;
   border: none;
   font-size: 18px;
}
.add_price:hover {
   color: var(--them_color);
}
.cart_count .sub_price {
   position: absolute;
   margin-top: 14px;
   margin-left: 2px;
   background: none;
   border: none;
   font-size: 22px;
}
.sub_price:hover {
   color: var(--them_color);
}
.Add_to_cart button {
   margin: 3px 0px;
   padding: 7px 12px;
   border-radius: 4px;
   background-color: var(--them_color);
   border: 1px solid;
   border-color: var(--them_color);
   color: white;
   font-size: 16px;
}
.Add_to_cart button:hover {
    background: white;
    color: var(--them_color);
    border-color: var(--them_color);
      
}
.product_colaty h3 {
     color: #eeeeee;
     font-family: 200;
}
.product_colaty span {
    color: #8484a4 !important ;
}
