.Eg-grocery-nav-heading {
    font-size: 22px;
    padding: 0px 20px;
}

.btn-faBar {
    background: none !important ;
    padding: 0px !important ;
    min-width: 0px !important ;
    min-height: 0px !important ;
    vertical-align: initial !important ;
    font-size: 16px !important;
    padding: 3px 0px !important;
    color: black !important ;
}

.nav-drop {
    margin: 3px 20px !important ;
    text-decoration: none !important  ;
    color: black !important;
    font-weight: 700;
}
.nav-pera-touch {
    margin: 10px 20px;
    line-height: 1.8rem;
}
.logo-nav-icons {
    line-height: 2;
    margin-left: -5px;
    margin-right: 5px;
}

.left-icon {
    padding-left: 5px;
    padding-right: 5px;
}
.shopping-cart2 {
    top: 0px !important;
    z-index: 400;
}
.shopping-cart2::before {
    display: none;
}

.cart-npm {
    margin-top: 28px;
}

.checkout-btn button {
    top: initial ;
    bottom: 0px;
}
.Top-Drawer {
  margin: 35px;   
}
.Top-Drawer label  {
    font-size: 14px;
    font-weight: 500;
    color: #505050;
    margin-bottom: 10px;
    font-family: manrope,sans-serif;
}

.Top-Drawer input  {
    border: none;
    
}
/* .search-mobile-input {
    border-radius: 0px;
} */
.search-mobile-input input {
    border: none;
   border-radius: 0px;
    outline: none !important ;
    border-bottom: 2px solid #505050;
    padding: 3px 2px;

}