.error-content {
    margin: 2.5rem 0rem;
}

.error-content h1 {
    font-size: 50px;
    font-weight: 800;
    font-family: manrope,sans-serif;
    color: #00152b;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.error-content p {
    width: 540px;
    margin: auto;
}
.ur--error {
    text-align: center;
    margin: 4.5rem 0rem;
}
.error-btn {
    padding: 13px 35px;
    margin-top: 50px;
}


  .error-image img {
    animation: bounceImg 2.5s linear infinite;
  }
  @keyframes bounceImg  {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }
  