
@import "../../../../responsive.scss";

.address-row {
    max-width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 1rem;
    display: flex;
    padding-top: 1.5rem;
    margin-bottom: 5rem;
    margin-right: 7rem;
    margin-left: 7rem;
    @include respond-to(mobile-small) {
          flex-direction: column;
          flex-wrap: wrap;
          margin: 0px 15px;
    }
   
    @include respond-to(tablet-s) {
        // flex-direction: column;
        flex-wrap: wrap;
        margin: 0px 15px;
  }
  @include respond-to(laptop-extra-s) {
    // flex-direction: column;
    flex-wrap: wrap;
    margin: 0px 15px;
}
}

.pt-1001 {
    padding-top: 100px;
    
    @include respond-to(mobile-small) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include respond-to(tablet) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include respond-to(laptop-extra-s) {
        padding: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.justify-content-center {
    justify-content: center!important;
}

.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    @include respond-to(mobile-small) {
        width: initial;

    }
    @include respond-to(tablet) {
        width: initial;
    }
}
.branch-info-item {
    margin-right: 20px;
    margin-left: 20px;
    @include respond-to(mobile-small) {
        margin: 0px;
        padding-bottom: 2.5rem;
    }
    @include respond-to(tablet) {
        margin: 0px;
       padding: 16px 6px;
    }

}

.branch-info-item .branch-info-header {
    background: #f96822;
    border-radius: 5px;
    padding: 26px 20px;
    color: #fff;
    width: 230px;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.branch-info-item .branch-info-body li:hover {
    color: #f96822;
}

.branch-info-item .branch-info-header::after {
    content: '';
    position: absolute;
    bottom: -4px;
    height: 8px;
    width: 8px;
    background: #f96822;
    -webkit-transform: rotate(
45deg
);
    transform: rotate(
45deg
);
}
.branch-info-item .branch-info-body {
    margin-top: -30px;
    padding: 55px 30px 25px;
    border-radius: 5px;
    @include respond-to(mobile-small) {
        width: initial;
    }
    @include respond-to(tablet) {
        width: initial;
    }
}
.branch-info-item .branch-info-body li {
    margin-bottom: 8px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer;
}

.box--shadow {
    -webkit-box-shadow: 4px 8px 30px rgb(141 , 141 , 141);
    box-shadow: 4px 8px 30px rgb(141 , 141 , 141);
}

.text-center {
    text-align: center!important;
}
a:hover {
    text-decoration: none;
    color: unset;
}


 