@import "../../../responsive.scss";
.lighter-text {
    color: #ABB0BE;
  }
  
  .main-color-text {
    color: main-color;
  }
  
  nav {
    padding: 20px 0 40px 0;
    background: #F8F8F8;
    font-size: 16px;
  }
    nav .navbar-left {
      float: left;
    }
    
    nav .navbar-right {
      float: right;
    }
    .cart-nprm ul li {
        display: flex;
        padding-left: 20px;
      }
      .cart-nprm ul li a {
          color: #777777;
          text-decoration: none;
        } 
      .cart-nprm ul li a :hover {
            color: black;
          }
        
  .container {
    position: fixed;
    margin: 80px 0px 0px 0px;
    z-index: 200;
    /* width: 674px; */
    display: flex;
    right: 200px;
    transition: all 0.3s ease-out;
    @include respond-to(laptop-small){
      right: 42px;
    }
    @include respond-to(tablet-s) {
      right: 3px;
    }
}

  
  .badge {
    line-height: 1;
  }
  
  .shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 320px;
    position: relative;
    border-radius: 3px;
    height: 300px;
    overflow-y: scroll;
  }
 
    
    .shopping-cart-header {
      border-bottom: 1px solid #E8E8E8;
      padding-bottom: 15px;
      position: fixed;
      width: 275px;
      width: 320px;
      background: var(--them_color);
      padding: 10px 20px 10px 20px;      
    top: 60px;
    border-radius: 3px 3px 0px 0px;

    }
    .shopping-cart-header::before {
      bottom: 100%;
      left: 89%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #f86822;
      border-width: 8px;
      margin-left: -8px;
  }
    .shopping-cart-header .shopping-cart-total {
        float: right;
      }
    
    .shopping-cart-items  {
      margin: 4px 0px 0px 0px;
        }
      .shopping-cart-items li {
          margin-bottom: 15px;
        }
  
        .shopping-cart-items img {
        width: 12%;
        height: 35px;
      }
      
      .item-name {
        /* display: block;
        padding-top: 10px; */
        font-size: 14px;
        margin-left: 8px;
      }
      
      .item-price {
        color: main-color;
        margin-right: 8px;
      }
      
      .item-quantity {
        color: light-text;
      }
     
 
  
  .cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
  }
  
  .button button  {
    background: var(--them_color);
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    position: fixed;
    top: 400px;
    width: 320px;
    padding: 10px 0px;
    border-radius: 0px 0px 3px 3px;
    border: var(--them_color);
  }
    .button :hover {
      background: lighten(green, 3%); 
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .product {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 3px 7.5px;
  }
  .Product_check {
    display: flex;
    margin-left: 20px;
    position: relative
  }
  
  
 .product_rate_minus button {
  border: 1px solid;
    background: none;
    border-radius: 4px;
    width: 20px;
    height: 20px;
  } 
  .product_rate_minus button:hover {
    background: var(--them_color) !important ;
    
  }
.product_rate_change {
  padding: 0px 10px;
}
 .product_rate_plus button  {
     border: 1px solid;
    background: none;
    border-radius: 4px;
    width: 20px;
    height: 20px;
  } 
  .product_rate_plus button:hover {
    background: var(--them_color) !important ;
  }
  .product_rate_Multiply {
    padding: 0px 6px;
  }
  .product_rupess p {
    margin-right: 20px;
  }
  .border_line {
    margin: 6px 0px -2px 0px;
  } 
  .close_icon  {
    background-color: rgb(250, 148, 105);
    /* border: 1px solid black; */
    position: absolute;
    right: 0;
    border-radius: 2px 0px 0px 2px;
    border: 0px 0px 1px 1px;
    padding: 0px 3px;
    margin: -3px 0px 0px 0px;
    font-size: 12px
  }

  .currently_empty {
      margin-top: 20px;
  }
  .cart_empty {
    text-align: center;
    margin-top: 40px;
  }
  .cart_empty p {
    margin-top: 6px;
  }