

.blog-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px 40px 134px;
}

.blog-wrap-mr {
    flex-basis: 40%;
}

.blog-pera {
    padding: 0px 12px;
}
.blog-pera h6 {
    font-size: 1rem;
    font-weight: 700;
    color: #00152b;
    font-family: manrope,sans-serif;
    line-height: 1.5;
}
.blog-pera p {
    font-size: 16px;
    font-weight: 400;
    color: #848484;
    font-family: var(--font_manrope);
    line-height: 1.5rem;
    padding: 0px;
    margin: 4px 0px;

}

.blog-pera .Est_ {
    font-family: system-ui;
    font-weight: 900;
 
}


