@import "../../../../responsive.scss";

.Published-uel h5  {
    // width: 550px;
    padding: 3rem 24rem;
    margin: auto;
    font-size: 25px;
    font-weight: 800;
    font-family: manrope,sans-serif;
    line-height: 1.6;
    color: #00152b;
    text-align: center;
    @include respond-to(mobile-small) {
        width: initial;
        padding: 3rem 3rem !important ;
    }
    @include respond-to(mobile) {
        padding: 3rem 3rem !important ;
    }
    @include respond-to(tablet) {
        padding: 3rem 8rem !important ;
    }
    @include respond-to(laptop-extra-s) {
        padding: 3rem 18rem;
    }
}

.mb-8 {
    margin-bottom: 7px;
}

.contact-form-area p {
    font-size: 1rem;
    color: #848484;
    font-weight: 400;
    font-family: work sans,sans-serif;
    margin-bottom: 24px;
    line-height: 1.5;
}


.Publish-row {
    display: flex;
    flex-wrap: wrap;
}

.pb-3 {
    padding-bottom: 1rem!important;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.form-row-wrap {
    @include respond-to(mobile-small) {
        margin: 0px 5px;
    }
    @include respond-to(mobile) {
        margin: 0px 4rem !important ;
    }
    @include respond-to(tablet) {
        margin: 0px 5rem;
    }
}

.contact-form-area {
    display: flex;
    justify-content: center;
   
}

.contact-form-area .contact-btn {
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
}

.contact-input {
    margin-right: 25px;
}

.contact-input input,textarea:focus {
     outline-color: var(--them_color) !important ;
     
}