.row_wrap {
    display: flex;
    margin: 30px 150px 0px 150px;
}
.row_wrap2 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 20px 20px;
    padding: 14px 14px
}
.row_wrap2 img {
    width: 130px;
    height: 130px;
}
.wrap img {
    width: 450px;
    height: 250px;

}
.succes_store {
   background-color: #00142c;
}
.succes_store_grocery {
    color: white;
    padding: 20px 14px;
}
.succes_store_grocery h4  {
    font-family: sans-serif;
}
.succes_store_grocery .pera p {
   font-size: 12px;
   padding: 10px 0px;
   
}
.succes_store_grocery button  {
    padding: 10px 16px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid;
}
.date {
   margin: 0px 12px;
   font-size: 12px;
}
.row_wrap_div2 {
    display: flex;
}
.row_wrap_supermark {
    padding: 12px 12px;
}
.row_wrap_supermark h3 {
    font-size: 16px;
   

}
.row_wrap_supermark p {
    padding: 10px 0px;
    color: #a1a1a1;
}
.Est_ {
    font-family: system-ui;
    font-weight: 900;
    margin-left: 6px;
}
.row_wrap_supermark h6 {
    padding: 3px 0px;
    
    color: #a1a1a1;

}