@import "../../../../responsive.scss";

.hero-grocery {
  position: relative;
    background: rgba(0,21,43,.7);
    min-height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    @include respond-to(mobile-small) {
      min-height: 500px;
  }
}

.GroceryImages {
    /* background-image: url("../src/assets/groceryimg.jpg"); */
    background-image: url("../../../assets/xl-banner1.png");
    width: 100%;
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;    
    @include respond-to(mobile-small) {
        background-position: center;
    }
  }
  
  .Grocery_Text-display_block {
    display: block;
    @include respond-to(laptop-small) {
      display: contents;
 }
    @include respond-to(mobile-small) {
       display: contents;
  }
  @include respond-to(tablet-s) {
    display: contents;
}
  }
  .Grocery_Text {
    text-align: center; 
    @include respond-to(mobile-small) {
      margin: 0 15px;
    }
    @include respond-to(tablet-s) {
      margin: 0 15px;
    } 
  } 
  .Grocery_Text h2 {
    font-weight: 800;
    font-size: 55px;
    line-height: 75px;
    text-transform: capitalize;
    color: #fff;
    font-family: manrope,sans-serif;
    margin: 0px auto !important ;
    @include respond-to(tablet-s) {
      padding: 0 24px !important ;
      font-size: 48px !important ;
     }
    @include respond-to(laptop-small) {
      padding: 0 120px;
      font-size: 48px;
     }
    @include respond-to(mobile-small) {
      font-size: 25px !important ;
      line-height: 55px;
      padding: 0px 12px !important ;
      margin: 0px auto !important ;
      
  }
  
  }
  .Grocery_Text p {
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    padding: 16px 21px 32px 21px;
    @include respond-to(tablet-s) {
    font-size: 24px;
    color: #fff;
    padding: 16px 0px 32px 0px;
    }
  }
  .grocery_input {
     position: relative;
     max-width: 770px;
     margin: 0 auto;
     height: 70px;
     margin-top: 38px;
     @include respond-to(mobile-small) {
       margin-bottom: 38px;
     }
   
  /* border: 1px solid #fffou; */
    
  }
  
   /* .grocery_input input {
    display: block;
    width: 100%;
  }   */
  .search {
    position: absolute;
    border: none;
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    background: #f96822;
    border-radius: 100px;
    padding: 0 30px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    -webkit-transition: all .2s;
    transition: all .2s;
  }

  .search-field {
    height: 100%;
    background: #fff;
    border-radius: 100px;
    padding: 20px 30px;
    border: #fff;
    outline: none;
  }