@import "../../responsive.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main_navbar {
    background: #ffffff;
    box-shadow: 4px 8px 30px rgb(141, 141, 141 );
    padding: 16px 0px 5px 0px;
    position: fixed;
    width: 100%;
    z-index: 200;    
    height: 60px;     
}
.vertically_bottom__navbar-Row {
    display: none;
}
.vertically__navigateNavbar {
    display: none;
    
}
@include respond-to(tablet-s) {
    .main_navbar {
          display: none;
    }
    .mobile-menu-btn {
        position: relative;
        -webkit-transition: .4s ease;
        transition: .4s ease;
        cursor: pointer;
        text-transform: uppercase;
    }
    .fv-bold {
        font-weight: 700!important;
    }
    .vertically {
        display: visible;
         position: fixed;
         max-width: 100%;
         width:  100%;
         padding: 8px 30px;
         background: #ffffff;
         box-shadow: 4px 8px 30px rgb(141, 141, 141 );
        z-index: 300; 
       &__navigateNavbar {
                display: flex;
                justify-content:space-between;
                align-items: center;
       }
   }
    
}

@include respond-to(mobile-small) {
    .main_navbar {
        display: none;
    }
    .mobile-menu-btn {
        position: relative;
        -webkit-transition: .4s ease;
        transition: .4s ease;
        cursor: pointer;
        text-transform: uppercase;
    }
    .fv-bold {
        font-weight: 700!important;
    }
    .vertically {
         display: visible;
          position: fixed;
          max-width: 100%;
          width:  100%;
          padding: 8px 20px;
          background: #ffffff;
          box-shadow: 4px 8px 30px rgb(141, 141, 141 );
         z-index: 300; 
        &__navigateNavbar {
                 display: flex;
                 justify-content:space-between;
                 align-items: center;
        }
    }
    .vertically_bottom {
        display: visible;
        background: #ffffff;
            box-shadow: 4px 8px 30px rgb(141, 141, 141 );
        position: fixed;
        max-width: 100%;
        width:  100%;
        bottom: 0px;
        z-index: 300;
        &__navbar-Row {
            display: flex;
            justify-content: space-around;
            padding: 8px 18px;
            font-size: 20px;
            align-items: center;

        }
    }
 }

.wrapped {
    display: flex;
    justify-content: space-between;
    padding: 0px 35px 0px 35px;
    @include respond-to(mobile-small) {
       display: none;   
    }

}

.un_orderlist {
    display: flex;
    /* margin: 0px 0px 0px 50px; */
}

.un_orderlist li {
    list-style: none;
    padding: 0px 30px 0px 0px;
    cursor: pointer;    
}
.un_orderlist li button {
    border: none;
    color: #616e7b;
    background-color: #ffffff;
    /* font-weight: 500; */
    font-size: 1rem;
    color: #00152b;
    font-family: work sans,sans-serif;
    font-weight: 500;
    position: relative;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer;
}
.un_orderlist li :hover {
  color: var(--them_color);
}
.Navbar-logo {
    @include respond-to(tablet-s) {
        padding-left: 6rem;
     }
}
.un_orderlist1 {
    display: flex;
    margin: 0px 25px 0px 0px;
    @include respond-to(tablet-s) {
        margin-right: -35px;
        margin-left: 35px;
     }
   
} 
.un_orderlist1 li {
    list-style: none;
    padding: 0px 0px 0px 24px;
    @include respond-to(tablet-s) {
        padding-left: 12px;
    padding-right: 12px;

     }
    
}
.Fi_phone {
    font-size: 30px;
}
.flex_2 {
    margin-top: -14px;
    position: relative;
}
.search_flex {
    margin-top: 10px;
    position: relative;
    margin-left: 80px;
}
.search_flex .search_header input  {
    padding: 8px 8px;
    /* border: 1px solid white; */
    background: none;
    outline: none;
    width: 650px;
    margin: 0px 35px;
    @include respond-to(laptop-small) {
          width: 335px !important ;
    }
    @include respond-to(laptop-s) {
        width: 400px !important ;
  }
}
.search_flex .search_header button {
    position: absolute;
    padding: 8px 16px;
    outline: none;
    border: none;
    right: 37px;
    background-color: var(--them_color);
    top: 1px;
}

.flex_3 {
    display: flex;
}

.Home_line {
 padding-left: 8px;
}
.Home_line h4 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: -3px;
    color: #adadad;;
}

.Home_line p {
    font-size: 14px;
    font-weight: 700;
    color: #264653;
    font-family: manrope,sans-serif;
    margin-top: 3px;
}
.list_item {
    position: relative;
}

.use_qty {
    width: 12px;
    height: 12px;
    border-radius: 25px;
    color: white;
    background-color: red;
    display: inline-block;
    margin-left: 12px;
    position: absolute;
}
.use_qty button {
    color: white;
    background: none;
    border: none;
    font-size: 10px;
    position: absolute;
    padding-left: 3px;

}
.EG_shops input  {
    padding: 8px 8px;
    border: 1px solid white;
    background: none;
    outline: none;
    width: 400px;
    color: white;
    margin: 0px 35px;
}

.EG_shops button {
    position: absolute;
    padding: 9px 16px;
    outline: none;
    border: none;
    right: 35px;
    background-color:  var(--them_color);
}

.About_navbar {
    background-color: #ffffff;
    padding: 16px 0px 5px 0px;
    position: fixed;
    width: 100%;
    z-index: 200;    
    height: 60px;  
}   
.About_navbar .flex_3 {
    margin-top: 2px;
}
.About_navbar .Fi_phone {
    font-size: 24px;
    margin-top: -4px;
}

.About_navbar .Home_line {
    margin-top: -5px;
}

.main_navbar.sticky .header-1-logo {
    -webkit-clip-path: polygon(100% 0,100% 71%,50% 71%,0 71%,0 0);
    clip-path: polygon(100% 0,100% 71%,50% 71%,0 71%,0 0);
}
.header-1-logo {
    position: relative;
    background: #f96822;
    -webkit-clip-path: polygon(100% 0,100% 71%,50% 100%,0 71%,0 0);
    clip-path: polygon(100% 0,100% 71%,50% 100%,0 71%,0 0);
    -webkit-transition: -webkit-clip-path .4s;
    transition: -webkit-clip-path .4s;
    transition: clip-path .4s;
    transition: clip-path .4s,-webkit-clip-path .4s;
    height: 82px;
    width: 170px;
    position: absolute;
    z-index: 1;
    top: 0;
    padding-top: 11px;
    text-align: center;
    margin-right: -6.5rem;
    margin-left: -6.5rem;
}

.login-users {
    position: relative;
}
.login-users button {
     background: none;
     border: none; 
}
.login-users svg {
    position: absolute;
    margin-left: -25px;
    margin-top: -1px;
}

.login-user {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 10px;
}

.lgr-contact a {
    text-decoration: none;
    color: black;
}




  
  

