*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main_navbar {
    background-color: #ffffff;
    padding: 16px 0px 5px 0px;
    position: fixed;
    width: 100%;
    z-index: 200;    
    height: 60px;  
}

.wrapped {
    display: flex;
    justify-content: space-between;
}

.un_orderlist {
    display: flex;
    margin: 0px 0px 0px 50px;
}

.un_orderlist li {
    list-style: none;
    padding: 0px 24px 0px 0px;
    
}
.un_orderlist li button {
    border: none;
    color: #616e7b;
    background-color: #ffffff;
    font-weight: 500;
}
.un_orderlist li :hover {
  color: var(--them_color);
}

.un_orderlist1 {
    display: flex;
    margin: 0px 25px 0px 0px;
   
} 
.un_orderlist1 li {
    list-style: none;
    padding: 0px 0px 0px 24px;
}
.Fi_phone {
    font-size: 30px;
}
.flex_2 {
    margin-top: -14px;
    position: relative;
}
.search_flex {
    margin-top: 10px;
    position: relative;
    margin-left: 80px;
}
.search_flex .search_header input  {
    padding: 8px 8px;
    /* border: 1px solid white; */
    background: none;
    outline: none;
    width: 690px;
    margin: 0px 35px;
}
.search_flex .search_header button {
    position: absolute;
    padding: 8px 16px;
    outline: none;
    border: none;
    right: 37px;
    background-color: var(--them_color);
    top: 2px;
}

.flex_3 {
    display: flex;
}

.Home_line {
    padding-right: 10px;
    margin: 0px 50px 0px 5px;
}
.Home_line h4 {
    font-size: 10px;
    margin-bottom: -3px;
    color: #f3f3f3;
}

.Home_line p {
    color: #505e6d
}
.list_item {
    position: relative;
}

.use_qty {
    width: 12px;
    height: 12px;
    border-radius: 25px;
    color: white;
    background-color: red;
    display: inline-block;
    margin-left: 12px;
    position: absolute;
}
.use_qty button {
    color: white;
    background: none;
    border: none;
    font-size: 10px;
    position: absolute;
    padding-left: 3px;

}
.EG_shops input  {
    padding: 8px 8px;
    border: 1px solid white;
    background: none;
    outline: none;
    width: 400px;
    color: white;
    margin: 0px 35px;
}

.EG_shops button {
    position: absolute;
    padding: 9px 16px;
    outline: none;
    border: none;
    right: 35px;
    background-color:  var(--them_color);
}

.About_navbar {
    background-color: #ffffff;
    padding: 16px 0px 5px 0px;
    position: fixed;
    width: 100%;
    z-index: 200;    
    height: 60px;  
}   
.About_navbar .flex_3 {
    margin-top: 7px;
}
.About_navbar .Fi_phone {
    font-size: 24px;
    margin-top: -4px;
}

.About_navbar .Home_line {
    padding-right: 10px;
    margin: -6px 50px 0px 5px;
}

