@import "../../../../responsive.scss";

.Grocery_background {
    background-image: url("../../../assets/About_Grocery.png");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    @include respond-to(mobile-small) {
        background-size: cover;
    }
}
.keyboard-svg {
    margin: 0px 4px;
    font-family: manrope,sans-serif;
}
.Abouts_Us {
    font-family: manrope,sans-serif;
}
.Abouts_Us_screen {
    text-align: center;
    color: white;
    font-size: 40px;

}

.grocery_about span {
    margin-top: 2px;
}
.grocery_about {
    display: flex;
    color: white;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    font-family: manrope,sans-serif;
}
.grocery_product {
    margin-left: 7px;
}   
.productsidebar {
   margin-left: 62px;
}
.cart_info {
    margin-left: 12px;
    margin-top: 3px;    
}
.checkOut_screen_profile {
    margin-left: 45px;
    margin-top: 8px;
}
.product_acount {
    margin-left: 2.7rem;
}

.cart_checkout {
    margin-left: 2rem;
}

.cart_info {
    margin-left: 2.5rem;  
}
.Product_Sidebar {
   margin-left: 4rem;
   
}
.Product_details {
    margin-left: 4rem;
    font-family: manrope,sans-serif;
}

.sigup_screen {
    margin-left: 22px;
 }
.login_screen {
    margin-left: 7px;
}

.kr-faq {
    margin-right: 18px;
}

.pm-grid {
    margin-left: 2.7rem;
    font-size: 18px;
}
.pm-griddetails {
    margin-left: 37px;
    font-size: 18px;
}
.pm-blog-grid {
margin-left: 20px;
font-size: 18px;
}

.prk-contact {
    // margin-left: 12px;
font-size: 18px;
}