.accordion-collapse  {
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: #f5f5f5;
    font-family: manrope,sans-serif;
    color: #505050;
    padding: 18px 23px 18px 23px;
    margin-top: 12px;
    width: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
/* .accordion-collapse:focus{
    background: #fff;
} */
.accordion-item-open {
    background: #fff;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.accorder_open {
    box-shadow: none;
    background-color: #fff;
    font-weight: 600;
    color: #00152b!important;
    font-size: 18px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.accorder_close {
    -webkit-transition: all .5s ease !important ;
    transition: all .5s ease;
}
.accordion-collapse-per .accordion-body {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.accordion-wrap {
    display: flex;
    justify-content: space-between;
}

.prg-pera {
    -webkit-box-shadow: 4px 8px 30px rgb(141 141 141 / 15%);
    box-shadow: 4px 8px 30px rgb(141 141 141 / 15%);
    width: 100%;
    color: black;
    padding: 2px 24px 24px 24px;
    line-height: 1.7;
    
}

.mb-40 {
    margin-bottom: 40px;
}

.left-widget h5 {
    font-size: 20px;
    font-weight: 600;
    font-family: manrope,sans-serif;
    color: #00152b;
    margin-bottom: 13px;
}

.title-20 {
    font-size: 20px;
    font-weight: 500;
    font-family: manrope,sans-serif;
    line-height: 1.6;
    color: #505050;
}
.para  {
    font-size: 1rem;
    font-weight: 400;
    font-family: work sans,sans-serif;
    color: #848484;
    line-height: 1.7;
}
.contact-widget {
    padding: 20px;
}
.box--shadow {
    -webkit-box-shadow: 4px 8px 30px rgb(141 141 141 / 10%);
    box-shadow: 4px 8px 30px rgb(141 141 141 / 10%);
}

.svg-icon {
    -webkit-transition: all .5s ease;
    transition: .5s ease;
    box-shadow: none;
}