@import "../../../../responsive.scss";

.row_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px 0px; 
    margin: 30px 0px;  
        padding: 30px 20px; 
        color: white;
        @include respond-to(laptop) { 
          display: flex;
          flex-wrap: wrap;
      }
        @include respond-to(laptop-small) { 
           display: flex;
           flex-wrap: wrap;
       }
        @include respond-to(tablet-s) { 
           grid-template-columns: none;

        }
        @include respond-to(mobile-small) {
           display: flex;
           flex-direction: column;
           flex-wrap: wrap;
           flex-basis: 100%;
           max-width: 100%;
           width: 100%; 
           margin: 0px;
           padding: 0px 20px;
      }
}

.backGround_1 {
    background-image: url("../../../assets/banner-g3.png");
      width: 400px;
      height: 200px;
      position: 100% 100%;
      background-size: 100% 100%;
      margin: auto;
      padding: 20px 20px;
      overflow: hidden;
      @include respond-to(tablet-s) {
        width: 100%;  
    }
      @include respond-to(mobile-small) {
             width:100%;
             overflow: hidden;

      }
    
  }
  .backGround_1 p {
      width: 250px;
  }
  .backGround_1 button {
    padding: 9px 20px;
    border-radius: 25px;
    border: 1px solid white;
    margin-top: 12px;
    color: white;
    background: transparent;
    
  }
  .backGround_1 button:hover {
    color: black;
    background: white;
    transition: 0.5s ease;
  }

  .backGround_2 {
    background-image: url("../../../assets/banner-g2.png");
      width: 400px;
      height: 200px;
      position: 100% 100%;
      background-size: 100% 100%;
      margin: auto;
      padding: 20px 20px;
      @include respond-to(tablet-s) {
        width: 100%;  
    }
      @include respond-to(mobile-small) {
        width:100%;
        overflow: hidden;

 }
  }
  .backGround_2 p {
      width: 250px;
  }
  .backGround_2 button {
    padding: 9px 20px;
    border-radius: 25px;
    border: 1px solid white;
    margin-top: 12px;
    color: white;
    background: transparent;
    
  }
  .backGround_2 button:hover {
    color: black;
    background: white;
    transition: 0.5s ease;
  }
  .backGround_3 {
    background-image: url("../../../assets/newvegetable.jpg");
      width: 400px;
      height: 200px;
      position: 100% 100%;
      background-size: 100% 100%;
      margin: auto;
      padding: 20px 20px;
      @include respond-to(laptop) { 
        margin: 24px auto;
        
    }
      @include respond-to(laptop-small) { 
        margin: 24px auto;
        
    }
      @include respond-to(tablet-s) {
        width: 100%;  
    }
      @include respond-to(mobile-small) {
        width:100%;
        overflow: hidden;

 }
  }
  .backGround_3 p {
      width: 250px;
  }
  .backGround_3 button {
    padding: 9px 20px;
    border-radius: 25px;
    border: 1px solid white;
    margin-top: 12px;
    color: white;
    background: transparent;
    
  }
  .backGround_3 button:hover {
    color: black;
    background: white;
    transition: 0.5s ease;
  }