
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    position: absolute;
    top: 29px;
    left: 0;
    background: #fff;
    width: 210px;
    padding: 10px 18px;
    border-radius: 0 0 4px 4px;
    border-top: 3px solid #f96822;
    -webkit-box-shadow: 0 3px 12px rgba(85, 76, 76, 0.09);
    box-shadow: 0 3px 12px rgb(0 0 0 / 9%);
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-transition: .5s ease;
    transition: .5s ease;
    z-index: 9;
  }
  .navbr-list {
    padding: 7px 0px;
  }
  .navbr-list li {
    border-bottom: 1px solid rgba(0,0,0,.09) !important ;
    padding-bottom: 0px;
    color: #00152b;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    font-weight: 500;
    font-family: work sans,sans-serif;
    text-transform: capitalize;
  }  
  .navbr-list li:last-child {
    border-bottom: none !important ;
  }  
  .navbr-list li:hover {
    color: none;
  }
 
  .dropdown-content a {
    color: black;
    padding: 12px 4px;
    text-decoration: none;
    display: block;
  }
  .drop_custom_arrow  {
    position: absolute;
    top: 1px;
    margin-left: 3px;
  }
  /* .dropdown-content a:hover {background-color: #ddd;} */
  
  /* .dropdown:hover .dropdown-content {display: block;} */
  .slider-dropdown {
    margin: 6px 20px;
  }

.slider-dropdown .dropbtn {
  background: 0px;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  }

  .slider-dropdown .drop_custom_arrow  {
    position: absolute;
    top: 4px;
    margin-left: 3px;
    left: 12rem;
  } 