
/* .backGround {
  background-image: url("./assets/DairyEggs.jpg");
    width: 400px;
    height: 200px;
    position: 100% 100%;
    background-size: 100% 100%;
    margin: auto;
} */

:root {
  --them_color:  #f86822;
  --them_pera_color : #bababa;
}