.Sign_form {
    margin: 4rem 0rem 1rem 0rem;
}

.Sign_form button {
    padding: 15px 0px;
    max-width: 270px;
    width: 200px;
    /* height: 100px; */
    color: white;
    border-color: var(--them_color);
    background: var(--them_color);
    /* margin: 42px 2px; */
    margin: 0px 10px 4px 10px;
    /* font-weight: 600!important; */
    box-shadow: 4px 8px 30px rgb(141 141 141 / 10%);
    border: none;
    font-weight: bold !important;
    font-size: 20px;
    border-radius: 4px;

    
}

.Sign_form button:hover {
    color: #848484;
    box-shadow: 4px 8px 30px rgb(141 141 141 / 10%);
    background: #fff;

}