@import "../../../../responsive.scss";

.main_wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    @include respond-to(tablet-s) {
          flex-wrap: wrap;
    }
}
@include respond-to(tablet-s) { 
    .wrap_order {
        padding: 8px 0px;
    }
    .shipping svg {
         font-size: 30px;
    }
    h4 {
        font-size: 20px;
    }
}

.wrap_shipping {
    box-shadow: rgb(0, 0, 0 / 10%) 0px 4px 12px;
    margin: 50px 18px 50px 18px;
    width: 225px;
    height: 140px;
    padding: 18px 0px;
    text-align: center; 
    @include respond-to(tablet-s) {
        width: 320px;
        height: 150px;
  }  
}
.wrap_shipping h4 {
    font-size: 18px;
}

.wrap_order .shipping {
    font-size: 30px;
}


.wrap_order p {
    font-size: 14px;
    color: #a1a1a1;
    padding: 4px 0px;
    @include respond-to(tablet-s) { 
        font-size: 17px;
    }
}

.delivery_authoritizes {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.delivery_authoritizes .wrap_shipping {
    box-shadow: black 0px 4px 12px;
    margin: 50px 18px 50px 18px;
    width: 273px;
    height: 140px;
    padding: 20px 0px;
    text-align: center;
}
.delivery_authoritizes h4 {
    font-size: 18px;
}
.delivery_authoritizes p {
    font-size: 14px;    
}