@import "../../../../responsive.scss";

.main_wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    @include respond-to(mobile-small) {
          flex-wrap: wrap;
    }
}


.wrap_shipping {
    box-shadow: rgb(0, 0, 0 / 10%) 0px 4px 12px;
    margin: 50px 20px 20px 20px;
    width: 200px;
    height: 112px;
    padding: 12px 0px;
    text-align: center;   
}

.wrap_order .shipping {
    font-size: 30px;
}
.wrap_order h4 {
 
}

.wrap_order p {
    font-size: 12px;
    color: #a1a1a1;
    padding: 4px 0px;
}

.delivery_authoritizes {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
